$primary: #3F8AB8;
$button: #2196F3;
$hover: #59E4F6;
$danger: #DC3545FF;
$nav_item_icon_size: 2rem;
$main_heading: 14px;
$sub_heading: 15px;
$content: 12px;
$btn_font: 13px;
$svg_font: 13px;
$post_content: 14px;
