@import "../../color";

.blogs {
  padding: 40px;
  .blogs_heading{

    h5{
      font-weight: bold;
      font-size: $main_heading;
      text-align: left;
      text-transform: uppercase;
      color: #2c6182;
    }
    p {
      font-size: $post_content;
    }
  }


  .blog_slider {
    background: #fff;
    padding: 30px;
    .blog_detail{
      padding: 20px;
      overflow: hidden;
      cursor: pointer;
      .hr_tag{
        border-top: 1px solid #36413e;
      }

      img{
        margin: auto;
        cursor: pointer;
        max-width: 300px !important;
        height: 200px;
        object-fit: cover;
        width: 100%;
        border-radius: 30px;
      }



      h5{
        font-weight: bold;
        font-size: $main_heading;
        text-transform: capitalize;
        line-height: 25px;
        text-align: center;
        cursor: pointer;
        color: #252e48;
      }
      p {
        font-size: $post_content
      }
    }
  }

}

.popular_blogs{
  padding: 40px;
  margin-top: 20px;
  .popular_blog_wrapper {
    cursor: pointer;
  }
  h5{
    font-weight: bold;
    font-size: $main_heading;
    text-align: left;
    text-transform: uppercase;
    color: #2c6182;
    padding: 20px 0;
  }
  img {
    max-width: 250px !important;
    height: 200px;
    width: auto;
  }

  .popular_blogs_row{
    padding: 20px;
    margin-top: 20px;
    align-items: center;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 99px rgba(47, 98, 129, 0.09);

    img {
      border-radius: 20px;
      object-fit: cover;
      width: 400px;
    }

    .popular_blogs_text{
      h5{
        font-weight: bold;
        text-transform: uppercase;
        font-size: $sub_heading;
        letter-spacing: 0.2em;
        line-height: 30px;
        text-align: left;
        color: #2c6182;
      }

      p{
        font-size: 18px;
        color: #06011F
      }
    }
  }
}
