.create_form {
  background-color: white;
  padding: 20px;
  border: 1px solid #ced4da;

  div {
    margin: 3px 0 5px 0;
  }

  div label {
    font-size: 14px;
    font-weight: 500;
    color: #43425D
  }
}

