@import "../../../color";

.feed_post {
  scroll-behavior: smooth;
  height: 90vh;
  overflow: auto;
}
.create_post {
  justify-content: space-around;
  display: flex;

  .image_preview {
    display: flex;
    list-style-type: none;
    li {
      max-width: 100px;
      padding: 10px;
      border-radius: 8px;
      background: #e6f4ff;
    }
  }
  img {
    object-fit: cover;
    border-radius: 50%;
  }

  .create_post_form {
    width: 100%;
    padding-left: 15px;

    .file_input {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }
    .file_label {
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      border-radius: 4px;
      font-size: 14px;
      font-weight: 600;
      color: #000;
      padding: 10px 12px;

      svg {
        height: 16px;
        margin-right: 4px;
      }
    }


    input[type="text"] {
      float: left;
      width: 90%;
      padding: 0 90px 0 30px;
    }

    button {
      width: 20%;
      position: absolute;
      right: 0;
      height: 50px;
    }
  }
}

.activity_feed {
  width: 100%;
  h4 {
    color: $primary;
    text-transform: uppercase;
    font-size: $main_heading;
    font-weight: bold;
  }
  .activity_feed_post {
    .post_img {
      img {
        border-radius: 17px;
        object-fit: cover;
        height: 500px;
      }
    }
    .activity_feed_user {
      display: flex;
      align-items: center;
      justify-content: space-between;
      img {
        object-fit: cover;
        cursor: pointer;
        border-radius: 50%;
      }
      .delete {
        cursor: pointer;
      }
      .activity_feed_user_info {
        cursor: pointer;
      }
      div {
        margin-left: 10px;
        h5 {
          font-size: $sub_heading;
          font-weight: 500;
          margin: 0;
          padding:0;
        }
        p {
          text-align: start;
          font-size: $content;
          svg {
            margin-right: 5px;
          }
        }
      }
    }

    .post_stats{
      svg{
        :hover{
          color: $hover;
          cursor: pointer;
        }
      }
    }

    .activity_feed_description {
      p {
        margin-top: 25px;
        font-size: $post_content;
      }
      .img_lazy {
        height: 50vh;
      }
    }
  }

}
