@import "../../color";

.site_btn:hover {
  background-color: $hover

}

.site_btn {
  background: $button;
  border: none;
  color: white;
  width: 100%;
  padding: 10px 0;
  box-shadow: 3px 6px 12px 3px rgba(81, 189, 222, 0.18);
  -webkit-box-shadow: 3px 6px 12px 3px rgba(81, 189, 222, 0.18);
  -moz-box-shadow: 3px 6px 12px 3px rgba(81, 189, 222, 0.18);
  text-align: center;
  transition: all 0.4s ease-out;
  font-size: $btn_font;
}
